


<div class="medium-12 columns medium-centered" id="journies" data-equalizer-watch>
  <div class="card card-block row">
    <% @sender   = User.where(id: comment.sender_id) %>
    <% @receiver = User.where(id: comment.receiver_id) %>

    
    <h1 class="card-text"><%= comment.journey.start_destination %> to <%= comment.journey.end_destination %></h1>
    <p class="card-text">Special Requirements: <%= comment.notes %></p>
    <p class="card-text">Potential set off time: <%= comment.agreed_setoff_time %></p>
    <p class="card-text">Status: <%= comment.status %></p>
    <p class="card-text">Sender:<%= @sender.first.username %> </p>
    <p class="card-text">Receiver:<%= @receiver.first.username %> </p>




    <div class="actions pull-xs-right">
      <% if current_page?(action: "outbox") %>
      <div class="medium-12 columns medium-centered" id="journies" data-equalizer-watch>
        <%= link_to "Remove Request", cancel_comment_path(comment), class: "cra" %>
      </div>
      <% else %>
      <div class="medium-12 columns medium-centered" id="journies" data-equalizer-watch>
        <%= link_to "Reject Request", reject_comment_path(comment), class: "cra" %>
        <%= link_to "Accept Request", accept_comment_path(comment), class: "cra" %>
      </div>
      <% end %>
    </div>
  </div>
</div>
