<h1>Search Journeys</h1>

<%= search_form_for @q do |f| %>
  
  <div class="medium-8 columns medium-centered" id="journies" data-equalizer-watch>
  <p>
    <%= f.label :starting_point %>
    <%= f.text_field :start_destination_cont %>
    <%= f.label :destination %>
    <%= f.text_field :end_destination_cont %>
    <%= f.label :date_of_travel %>
    <%= f.text_field :departure_date_cont %>
  </p>
  <p>
    <%= f.submit class: "btn btn-primary" %>
  </p>
  </div>

<% end %>
<h2>All Journeys</h2>

<div class="row" data-equalizer>
  <div class="medium-8 columns medium-centered" id="journies" data-equalizer-watch>
  <%= render @a %>
  </div>
</div>


