<h1>List Journey</h1>
<%= form_for @journey do |f| %>
  <% if @journey.errors.any? %>
    <% for message in @journey.errors.full_messages %>
      <div class="alert alert-danger" role="alert">
        <%= message %>
      </div>
    <% end %>
  <% end %>

  <fieldset class="form-group">
    <%= f.label :start_point %>
    <%= f.text_field :start_destination, class: "form-control" %>
  </fieldset>
  <fieldset class="form-group">
    <%= f.label :end_point %>
    <%= f.text_field :end_destination, class: "form-control" %>
  </fieldset>
  <fieldset class="form-group">
    <%= f.label :departure_date %>
    <%= f.date_field :departure_date, class: "form-control" %>
  </fieldset>
  <fieldset class="form-group">
    <%= f.label :price_£ %>
    <%= f.text_field :price, class: "form-control", step: 0.01 %>
  </fieldset>
  <fieldset class="form-group">
    <%= f.label :free_seats %>
    <%= f.text_field :free_seats, class: "form-control" %>
  </fieldset>
  <%= f.submit class: "btn btn-primary" %>

<% end %>